@font-face {
    font-family: 'Merriweather';
    src: url(/fonts/Merriweather-Regular.woff2?282c0e7aaa85f52506a6d02eeb43d4b2) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: url(/fonts/Merriweather-Bold.woff2?926b2ccb3309387a9c03fc91b713bfe0) format('woff2');
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'OpenSans';
    src: url(/fonts/OpenSans-Bold.woff2?f3e79b3d83d8a599df08ae847aae47f3) format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'OpenSans';
    src: url(/fonts/OpenSans-Medium.woff?bf421ba0e8cd4d717f13024d50f8466a) format('woff2');
    font-weight: 600;
    font-style: medium;
}

@font-face {
    font-family: 'OpenSans';
    src: url(/fonts/OpenSans-MediumItalic.woff2?06f6f1e8b843d9dffa96bd97acb9b895) format('woff2');
    font-weight: 600;
    font-style: italic;
}

body {
    background-color: #FBFFF9;
    font-family: 'Merriweather';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px;
    color: #212121;
}
main{
    line-height: 28px;
    }

/* margin left och right:
mobile: 16px
tablet: 38px
desktop: 64px
sätt på varje objekt och inte i main pga att det förstör bakgrundsfärger annars*/
.margins{
    padding-left: 16px;
    padding-right: 16px;
}

h1{
    font-family: 'OpenSans';
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #033F33;
}

h2{
    font-family: 'OpenSans';
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #033F33;
}

h3{
    font-family: 'OpenSans';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #033F33;
}

h4{
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;
    color: #FBFFF9;
}

main a{
    font-family: 'Merriweather';
    text-decoration: underline;
    color:#033F33;
}

.greenText{
    color: #033F33;
}

.whiteText{
    color: #FBFFF9;
}

.orangeButton {
    font-family: 'OpenSans';
    background-color: #FCA82B;
    color: #212121;
    width: 324px;
    height: 48px;
    border: none;
}

#custom_fc_button {
    position: fixed;
    right: 1px;
    bottom: 20px;
    width: 80px;
  }
  #imageicon {
    width: 280px;
  }

  @media only screen and (min-width: 1440px) {
    body {
        font-size: 20px;
        line-height: 32px;
    }
    .margins{
        max-width: 1920px;
        padding-left: 64px;
        padding-right: 64px;
        margin: auto;
    }
    h1{
        font-size:64px;
        line-height: 70px;
    }

    h2{
        font-size: 40px;
        line-height: 52px;
        font-weight: 700;
    }

    h3{
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
    }

    .orangeButton {
        height: 68px;
    }
    #custom_fc_button {
        position: fixed;
        right: 1px;
        bottom: 20px;
        width: 118px;
      }
      #imageicon {
        width: 330px;
      }
  }

