.footerWrapper{
    background-color: #033F33;
}
footer {
    display: flex;
    flex-direction: column;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

footer hr{
    height: 1px;
    border: none;
    background-color: #FBFFF9;
}

footer > * {
    margin-top: 0.2em;
}

footer ul{
    padding: 0;
}
footer li {
   list-style: none;
   line-height: 2.5em;
}

footer li img {
    margin-right: 0.2em;
}

footer svg {
    vertical-align: middle;
    margin-right: 0.2em;
}

.footerDescription{

}

.footerContact{

}

.footerAbout{
    vertical-align: middle;
}

.footerSocial svg{
width: 42px;
}

.footerOrg{
margin-top: 1.2em;
}
@media only screen and (min-width: 481px) {
    footer {
        margin-left: 32px;
    }
    footer p{
        max-width: 300px;
    }
}

@media only screen and (min-width: 834px) {
    .footerLine{
        display: none;
    }

    footer{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1116px;
    margin-left: 32px;
    }

    footer p{
        max-width: 390px;
    }

    .footerDescription{
    width: 100vw;
    margin-bottom: 80px;
    }

    .footerContact{
    }

    .footerAbout{

    }

    .footerSocial{

    }

    .footerOrg{
    width: 100vw;
    margin-top: 80px;
    }
  }

