/* Form buttons */

/* Wraps next and back-button */

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstNextButton {
    width: 90%;
    height: 48px;
    border: 2px solid orange;
    background-color: orange;
    margin-top: 300px;
    margin-bottom: 32px;
}
.firstNextButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nextButton {
    width: 164px;
    height: 48px;
    border: 2px solid orange;
    background-color: orange;
}
.backButton {
    width: 164px;
    height: 48px;
    background-color: transparent;
    margin-right: 15px;
}

/* close form button and wrapper */

.closeFormWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.closeForm {
    justify-self: flex-end;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "open sans";
    font-weight: bold;
}

.closeForm p {
    margin-bottom: 0%;
}

/* upload images, step 9 of 9 */

.imageButton {
    width: 228px;
    height: 41px;
    border: 2px solid orange;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}

/* Form Wrapper and general form styling */

.formWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    /* margin-left: auto;
    margin-right: auto; */
}

/* Radiobutton wrapper */

.radioWrapper {
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
    display: flex;
    align-items: center;
}

.radioWrapper label {
    margin: 0px;
    margin-left: 2%;
}

/* Individual  form styling */

.formStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.stepOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.stepTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.stepThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.stepFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.stepFive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.stepSix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.stepSeven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.stepEight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.infoText {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #eefce8;
}

.stepNine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.stepNine .uploadImages {
    border: 1px dashed black;
    background-color: #eefce8;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.stepNine svg {
    margin-left: auto;
    margin-right: auto;
}

