.quoteWrapper{
    display: flex;
    margin-left: 0.6em;
    margin-right: 0.6em;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.quote{
font-family: 'OpenSansSemiBoldItalic';
font-size: 28px;
line-height: 43px;
font-weight: 600;
}

@media only screen and (min-width: 834px) {
    .quoteWrapper{
        margin-left: 32px;
        margin-right: 32px;
        margin-top: 4em;
        margin-bottom: 4em;
    }

}

@media only screen and (min-width: 1440px) {
    .quoteWrapper{
        margin-left: 65px;
        margin-right: 65px;
    }

    .quote{
    font-size: 48px;
    line-height: 59px;
    }
}

@media only screen and (min-width: 1578px) {
    .quote{
    max-width: 80%;
    justify-content: center;
    align-items: center;
    }

}

