.stepByStepBackground{
    background-color: #EEFCE8;
}

.stepByStepWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.stepByStepCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stepByStepCard > *{
    padding-top: 20px;
}

.stepByStepCard h4{
    margin-bottom: 1em;
}


@media only screen and (min-width: 834px) {
    .stepByStepWrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
   }
   .stepByStepCard{
    max-width: 40%;
    justify-content:baseline;
}
    .stepByStepCard h4{

    }
    .stepByStep{
        text-align: center;
    }
}

@media only screen and (min-width: 1440px) {
    .stepByStepWrapper{
        height: 485px;
        align-content: center;
        align-items: flex-end;
        justify-content: space-between;
   }
   .stepByStepIcon{
       margin-bottom: 24px;
   }
   .stepByStepCard{
    max-width: 33%;
}
    .stepByStepCard h4{

    }
    .stepByStep{
    max-width: 90%;
    }
}

