.testimoniesWrapper{
    display: flex;
    flex-direction: column;
    margin-left: 0.6em;
    margin-right: 0.6em;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: flex-start;

}

.testimonyCard{
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 343px;
}

.testimonyImage{
    margin-bottom: 1em;
}

.testimony{
    align-self: center;
}

.testimony h4{

}

.testimonyDesktop{
    display: none;
}

@media only screen and (min-width: 834px) {
    .testimoniesWrapper{
        display: flex;
        flex-direction: row;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 2em;
        justify-content: space-around;
    }

    .testimonyCard{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }

    .testimonyImage{
        margin-bottom: 1em;
        }

    .testimony{
        /* align-self: center; */
    }

    .testimonyDesktop{
        display: none;
    }
}

@media only screen and (min-width: 1235px) {

    .testimonyDesktop{
        display: flex;
    }

    .testimonyCard{
        max-width: 375px;
    }

}

