@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Regular.woff2') format('woff2'),
         url('../fonts/Merriweather/Merriweather-Regular.woff') format('woff');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
         url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSans/OpenSans-Medium.woff') format('woff2'),
         url('../fonts/OpenSans/OpenSans-Medium.woff2') format('woff');
         font-weight: 600;
}

@font-face {
    font-family: 'OpenSansSemiBoldItalic';
    src: url('../fonts/OpenSans/OpenSans-MediumItalic.woff2') format('woff2'),
         url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff');
         font-weight: 600;
}

body {
    background-color: #FBFFF9;
    font-family: 'Merriweather';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px;
    color: #212121;
}

/* margin för fonter default mobile:
margin-left: 0.6em;
margin-right: 0.6em;
margin default tablet/desktop: 32px
sätt på varje objekt och inte i main pga att det förstör bakgrundsfärger annars*/
main{
    line-height: 28px;
    }

h1{
    font-family: 'OpenSansBold';
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

h2{
    font-family: 'OpenSansBold';
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}

h3 {
    font-family: 'OpenSansBold';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.greenText{
    color: #033F33;
}

.whiteText{
    color: #FBFFF9;
}

.orangeButton {
    font-family: 'OpenSansSemiBold';
    background-color: #FCA82B;
    color: #212121;
    width: 324px;
    height: 48px;
    border: none;
}

#custom_fc_button {
    position: fixed;
    right: 1px;
    bottom: 20px;
    width: 80px;
  }
  #imageicon {
    width: 280px;
  }

  @media only screen and (min-width: 1440px) {
    body {
        font-size: 20px;
        line-height: 32px;
    }
    h1{
        font-size:64px;
        line-height: 70px;
    }
    .orangeButton {
        height: 68px;
    }
    #custom_fc_button {
        position: fixed;
        right: 1px;
        bottom: 20px;
        width: 118px;
      }
      #imageicon {
        width: 330px;
      }
  }
