.footerWrapper {
    background-color: #033f33;
    padding-bottom: 40px;
}
footer {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}

footer hr {
    height: 1px;
    border: none;
    background-color: #fbfff9;
}

footer > * {
    margin-top: 0.2em;
}

footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    line-height: 3em;
}

footer li img {
    margin-right: 0.2em;
}

footer svg {
    vertical-align: middle;
    margin-right: 0.2em;
}

footer h4 {
    margin-bottom: 40px;
}

.footerAbout {
    vertical-align: middle;
}

.footerSocial svg {
    width: 42px;
}

.footerOrg {
    margin-top: 1.2em;
}

.footerDescription svg {
    margin-bottom: 3%;
    margin-top: 3%;
}

@media only screen and (min-width: 481px) {
    footer p {
        max-width: 300px;
    }
}

@media only screen and (min-width: 834px) {
    .footerLine {
        display: none;
    }

    footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90vw;
        margin-left: 32px;
    }

    footer p {
        max-width: 390px;
    }

    .footerDescription {
        width: 90vw;
        margin-bottom: 80px;
    }

    .footerOrg {
        width: 100vw;
        margin-top: 80px;
    }
}

@media only screen and (min-width: 1578px) {
    footer {
        padding-left: 64px;
        padding-right: 64px;
        align-content: space-evenly;
        justify-content: space-evenly;
    }
}
