/* Form buttons */

/* Wraps next and back-button */

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstNextButton {
    width: 90%;
    height: 48px;
    border: 2px solid orange;
    background-color: orange;
    margin-top: 300px;
    margin-bottom: 32px;
}
.firstNextButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nextButton {
    width: 164px;
    height: 48px;
    border: 2px solid orange;
    background-color: orange;
}
.backButton {
    width: 164px;
    height: 48px;
    background-color: transparent;
    margin-right: 15px;
}

/* close form button and wrapper */

.closeFormWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.closeForm {
    justify-self: flex-end;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "open sans";
    font-weight: bold;
}

.closeForm p {
    margin-bottom: 0%;
}

/* upload images, step 9 of 9 */

.imageButton {
    width: 228px;
    height: 41px;
    border: 2px solid orange;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}

/* Form Wrapper and general form styling */

.tab {
    /* display: none; */
}

.formWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    /* margin-left: auto;
    margin-right: auto; */
}

/* Radiobutton wrapper */

.radioWrapper {
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
    display: flex;
    align-items: center;
}

.radioWrapper label {
    margin: 0px;
    margin-left: 2%;
}

/* Change color of checked radio and checkbox */

.checky {
    accent-color: #212121;
    width: 20px;
    height: 20px;
}

/* style inputfield */

input {
    background-color: transparent;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
}

select {
    background-color: transparent;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
}

/* description input field, step 7 of 9 */

#description {
    padding: 12px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 18px;
    resize: none;
    height: 220px;
}

/* Individual  form styling */

.formStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step one */

.stepOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step two */

.stepTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step three */

.stepThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* step four */

.stepFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step five */

.stepFive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step six */

.stepSix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step seven */

.stepSeven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* step eight */

.stepEight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.infoText {
    background-color: #eefce8;
}

/* Step nine */

.stepNine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.stepNine .uploadImages {
    border: 1px dashed black;
    background-color: #eefce8;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.stepNine svg {
    margin-left: auto;
    margin-right: auto;
}

/* Step ten */

.stepTen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.stepTen .background {
    background-color: #eefce8;
}

.stepTen .buttonWrapper {
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stepTen .buttonWrapper button {
    width: 95%;
    margin: 2%;
    border-radius: 2%;
}

.jump {
    background-color: #ededed;
    border: none;
}

/* Step eleven */

.stepEleven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step twelve */

.stepTwelve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.stepTwelve .wrapper {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-between;
}

.summeryContentWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.summeryContent {
    display: flex;
    flex-direction: column;
}

/* Step thirteen */

.stepThirteen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.imageWrapperForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stepThirteen image {
    height: 40%;
    width: 70%;
}

.slideshowButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    align-items: center;
}

.slideButton {
    width: 80px;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
}

.stepThirteen .wrapper {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-between;
}

/* .stepThirteen .summeryContentWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.stepThirteen .summeryContent {
    display: flex;
    flex-direction: column;
} */

/* Form End */

.formEnd .bgColor {
    padding-top: 5%;
    padding-bottom: 10%;
    margin-bottom: 5%;
    background-color: #eefce8;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.formEnd .svgWrapper {
    margin-top: 15%;
    margin-bottom: 10%;
}

.svgWrapper svg {
    height: 110px;
    width: 110px;
}
