/*container*/
.formWrapper form{
    display: flex;
    flex-direction: column;
    min-height: 72vh;
    margin-bottom: 100px;
    justify-content: space-between;
}

textarea{
    max-width: 90%;
}



/* Form buttons */

/* Wraps next and back-button */

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.firstNextButton {
    height: 48px;
    border: 2px solid orange;
    background-color: orange;
    margin-top: 300px;
    margin-bottom: 32px;
}
.firstNextButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nextButton {
    width: 95vw;
    padding-left: 15px;
    padding-right: 15px;
    height: 48px;
    border: 2px solid orange;
    background-color: orange;
}

.backButton {
    width: 164px;
    height: 48px;
    background-color: transparent;
    margin-right: 15px;
}

/* close form button and wrapper */

.closeFormWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.closeForm {
    justify-self: flex-end;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeForm p {
    margin-bottom: 0%;
}

.closeForm {
    margin-top: 40px;
    margin-bottom: 34px;
}
.closeForm a{
    display: flex;
    align-items: center;
    color: #212121;
    font-size: 18px;
    font-family: "OpenSans";
    font-weight: bold;
}
.closeForm svg{
    margin-left: 10px;
    height: 20px;
}

/* upload images, step 9 of 9 */

.imageButton {
    width: 228px;
    height: 41px;
    border: 2px solid orange;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}

/* Form Wrapper and general form styling */

form {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5%;
}

.tab {
    display: none;
}

.steps{
    padding-bottom: 32px;
}

.steps p{
    padding: 0;
    margin: 0;
}

.formWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.formWrapper h2 {
    padding-bottom: 24px;
}

.formWrapper h3 {
    padding-bottom: 18px;
}

/* Radiobutton wrapper */

.radioWrapper {
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
    display: flex;
    align-items: center;
    padding: 0px;
    height: 48px;
}

.radioWrapper label {
    margin: 0px;
    margin-left: 2%;
}

/* Change color of checked radio and checkbox */

.checky {
    accent-color: #212121;
    width: 20px;
    height: 48px;
}

/* style inputfield */

input {
    background-color: transparent;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
    height: 48px;
}

select {
    background-color: transparent;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
}

/* description input field, step 7 of 9 */

#description {
    padding: 12px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 18px;
    resize: none;
    height: 220px;
}

/* Individual  form styling */

.formStart {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step one */

.stepOne {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step two */

.stepTwo {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}
.stepTwoWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.stepTwoWrapper h2{
    width: 100%;
}

.stepTwoWrapper select{
    margin: 0px;
    padding: 0px;
    height: 48px;
    width: 342px;
}

.stepTwoWrapper label h3{
    width: 100%;
}
.stepTwoSize{
    display: flex;
    width: 100%;
    height: 46px;
}

.stepTwoSize input {
    width: 265px;
    height: 48px;
    margin: 0px;
    padding: 0px;
}

.stepTwoSquareMetres {
display:flex;
align-items: center;
border-style:solid;
border-width: 1px;
border-left: none;
height: 48px;
margin: 0px;
padding-left: 24px;
padding-right: 24px;
text-align: center;
}

/* Step three */

.stepThree {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* step four */

.stepFour {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step five */

.stepFive {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step six */

.stepSix {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step seven */

.stepSeven {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* step eight */

.stepEight {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.infoText {
    background-color: #eefce8;
}

/* Step nine */

.stepNine {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.stepNine .uploadImages {
    border: 1px dashed black;
    background-color: #eefce8;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.stepNine svg {
    margin-left: auto;
    margin-right: auto;
}

.uploadPhotosWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 650px;
    align-self: center;
}

.imageSrc img {
    width: 165px;
    height: 115px;
}

/* Step ten */

.stepTen {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.stepTen .background {
    background-color: #eefce8;
}

.stepTen .buttonWrapper {
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stepTen .buttonWrapper button {
    width: 95%;
    margin: 2%;
    border-radius: 2%;
}

.jump {
    background-color: #ededed;
    border: none;
}

/* Step eleven */

.stepEleven {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

/* Step twelve */

.stepTwelve {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.stepTwelve .wrapper {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-between;
}

.summeryContentWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.summeryContent {
    display: flex;
    flex-direction: column;
}

/* Step thirteen */

.stepThirteen {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.imageWrapperForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stepThirteen image {
    height: 40%;
    width: 70%;
}

.slideshowButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    align-items: center;
}

.slideButton {
    width: 80px;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
}

.stepThirteen .wrapper {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-between;
}

/* Form End */

.formEnd {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.formEnd .bgColor {
    padding-top: 5%;
    padding-bottom: 10%;
    margin-bottom: 5%;
    background-color: #eefce8;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.formEnd .svgWrapper {
    margin-top: 15%;
    margin-bottom: 10%;
}

.svgWrapper svg {
    height: 110px;
    width: 110px;
}

@media only screen and (min-width: 500px) {
    .formContainer {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .nextButton {
        max-width: 343px;
        padding-left: 15px;
        padding-right: 15px;
}
}

@media only screen and (min-width: 990px) {
    .formContainer {
        max-width: 990px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;

    }
    .formWrapper form {
        border: 1px solid;
        border-color: #6d6d6d;
        padding: 80px;
        margin-top: 0px;
    }

    .buttonWrapper {
        width: 100%;
        flex-direction: row-reverse;
        align-self:flex-end;
        justify-content: space-between;
    }
    .uploadPhotosWrapper {
        justify-content: space-between;
        max-width: 100%;
    }
    .imageSrc img {
        width: 241px;
        height: 168px;
    }

    .closeForm {
        margin-right: 62px;
        margin-top: 40px;
        margin-bottom: 97px;
    }
    .closeForm a{
        display: flex;
        align-items: center;
        color: #212121;
        font-family: 'OpenSans';
        font-size: 24px;
    }
    .closeForm svg{
        margin-left: 10px;
    }


}

@media only screen and (min-width: 990px) {
    .steps{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .stepOneWrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .stepOne p{
        width: 100%;
    }

    .stepOne h2{
        width: 100%;
    }

    .stepOne h3{
        width: 100%;
    }
    .stepOne .radioWrapper{
        width: 343px;
        margin-bottom: 121px;
    }

    .stepOne input{
        width: 343px;
    }

    .stepOne .checky{
        width: auto;
    }

    .stepTwoWrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .stepTwoWrapper h2{
        width: 100%;
    }

    .stepTwoWrapper select{
        margin: 0px;
        padding: 0px;
        height: 54px;
        width: 422px;
    }

    .stepTwoWrapper label h3{
        width: 100%;
    }
    .stepTwoSize{
        display: flex;
        width: 100%;
        height: 54px;
    }

    .stepTwoSize input {
        width: 340px;
        height: 52px;
        margin: 0px;
        padding: 0px;
    }

    .stepTwoSquareMetres {
    display:flex;
    align-items: center;
    border-style:solid;
    border-width: 1px;
    border-left: none;
    height: 52px;
    margin: 0px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    }

}
