.languageAndSearchWrapper {
    background-color: white;
    display: flex;
}

.languageBox {
    display: inline-block;
}
.searchBox {
    display: inline-block;
}

.menuButton {
    background-color: #999999;
    display: block;
    color: white;
    border: none;
    width: 100%;
    margin: 10%;
    padding: 2%;
    justify-self: center;
}

.nav-link {
    color: black;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    color: black;
}
